@page "/ImportDispatch"

<PageTitle>حواله جمعی</PageTitle>
<h3 class="text-center mb-4">حواله جمعی</h3>
<hr />

<div class="row mb-3 text-center">
    <div class="col-md-3">  <button type="button" class="btn btn-outline-orange w-100">Import Excel</button> </div>

    <div class="col-md-3">  <button type="button" class="btn btn-outline-secondary w-100">Read</button> </div>

    <div class="col-md-3">  <button type="button" class="btn btn-outline-primary w-100">Submit</button>  </div>

    <div class="col-md-3">  <input type="text" class="form-control" disabled />   </div>
</div>




@code {

    //اینجا خالص باید باشه
}
