<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item me-3">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">سیستم حواله</a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">سفارش دستی</a></li>
                <li><a class="dropdown-item" href="#">سفارش اکسلی</a></li>
                <li><a class="dropdown-item" href="#">سفارش حمل بسته</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">ابطال</a></li> 
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">گزارشات</a></li>
            </ul>
        </div>
    </li>

    <li class="nav-item me-3">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">سیستم شارژ</a>
            <ul class="dropdown-menu">
                <li><a asp-controller="Charge" asp-action="Index" class="dropdown-item">موجودی شعب</a></li>
                <li><a class="dropdown-item" href="#">دخواست های شعب</a></li>
                <li><a class="dropdown-item" href="#">اطلاعات نقطه سفارش</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">اطلاعات پایه</a></li>
            </ul>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">خروج</a>
    </li>

</ul>