@page "/Roles"


<PageTitle>دسترسی کاربران</PageTitle>


<div class="d-flex justify-content-center align-items-center vh-100 ">
    <div class="card shadow-sm p-6 shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 100%; max-width: 500px;">
        <div class="card-body ">

            <h3 class="text-center mb-4">دسترسی کاربران</h3>
            <hr />

            <div class="form-group mt-3">
                <label for="dispatchType" class="form-label">کاربران</label>
                <select id="dispatchType" class="form-select">
                    <option value="1">اکبرلو </option>
                    <option value="2">خانم 1</option>
                    <option value="3">خانم 2</option>
                    <option value="3">خانم 3</option>
                </select>
            </div>

            <div class="form-group mt-3">
                <label for="dispatchType" class="form-label">نقش ها:</label>
                <select id="dispatchType" class="form-select">
                    <option value="1">اکبرلو ها</option>
                    <option value="2">گزارشگیر ها</option>
                    <option value="3">چک کننده ها</option>
                </select>
            </div>

            <div class="form-group text-center mt-3">
                <button type="submit" class="btn btn-outline-orange px-4">ثبت</button>
            </div>

        </div>
    </div>
</div>

@code {

}
