@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase


<AuthorizeView>
    <Authorized>
        <div class="page" >
            <div class="sidebar" style="@SidebarStyle">
                <NavMenu />
            </div>

            <div style="@ToggleButtonStyle" @onclick="() => isSidebarCollapsed = !isSidebarCollapsed"></div>


            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>

        <div id="blazor-error-ui" data-nosnippet>
            An unhandled error has occurred.
            <a href="." class="reload">Reload</a>
            <span class="dismiss">🗙</span>
        </div>

    </Authorized>

    <NotAuthorized>
        <BPC_PLN_SPA.Components.Login.Login />
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool isSidebarCollapsed = false;

    private string SidebarStyle => isSidebarCollapsed
        ? "width: 0px; overflow: hidden; transition: width 0.3s;"
        : "width: 190px; background-color: #f8f9fa; transition: width 0.3s;";


    private string ToggleButtonStyle => isSidebarCollapsed
        ? "position: fixed; top: 0; right: 0; width: 7px; height: 100%; background-color: orange; cursor: pointer; z-index: 9999;transition: right 0.3s;"
        : "position: fixed; top: 0; right: 190px; width: 7px; height: 100%; background-color: orange; cursor: pointer; z-index: 9999;transition: right 0.3s;";


   // private string ToggleButtonStyle2 => "position: fixed; top: 0; right: 0; width: 7px; height: 100%; background-color: orange; cursor: pointer; z-index: 9999;";
}