    <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
            <a class="navbar-brand"  style="margin-right: 0 !important;" href="https://behpakhsh.co/"> <img style="width:150px" src="/bpcwhite.png" /> </a>
        </div>
    </div>


<div onclick="document.querySelector('.navbar-toggler').click()" style="height: 91.5vh;  overflow: auto;  scrollbar-width: none;">
    <nav class="nav flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="manualDispatch" Match="NavLinkMatch.All">
                    حواله دستی
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ImportDispatch" Match="NavLinkMatch.All">
                    اکسل حواله
                </NavLink>
            </div> 
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="PackageCreation" Match="NavLinkMatch.All">
                    ساخت بسته
                </NavLink>
            </div>
            <!-- #region name -->

            <div class="nav-item px-3">
                <NavLink class="nav-link"  @onclick="ToggleReportMenu" style="cursor: pointer; white-space: nowrap;">
                    گزارشات @(isExpandedReport ? "▲" : "◀")
                </NavLink>
            </div>

            @if (isExpandedReport)
            {
                <div class="sub-menu">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="7">| گزارشات حواله</NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link " href="8">| گزارشات بسته</NavLink>
                    </div>
                </div>
            }

            <!-- #endregion -->
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="1" Match="NavLinkMatch.All">
                    اطلاعات شعب
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="2" Match="NavLinkMatch.All">
                    خواست های شعب
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="3" Match="NavLinkMatch.All">
                    اطلاعات  فروش
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="4" Match="NavLinkMatch.All">
                    TAP-Plan
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="5" Match="NavLinkMatch.All">
                    اطلاعات پایه
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" @onclick="TogglePermissionMenu" style="cursor: pointer; white-space: nowrap;">
                    مدیریت کاربران @(isExpandedPermission ? "▲" : "◀")
                </NavLink>
            </div>

            @if (isExpandedPermission)
            {
                <div class="sub-menu">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="log">| لاگ</NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link " href="permission">| دسترسی کاربران</NavLink>
                    </div>
                </div>
            }





    <!-- #region branchs -->
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ItemRequest" Match="NavLinkMatch.All">
                    درخواست کالا
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="RegisteredReport" Match="NavLinkMatch.All">
                    گزارش سفارشات اعمال شده
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="UnregisteredReport" Match="NavLinkMatch.All">
                  سفارشات اعمال  نشده
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="LastYearsOrderReport" Match="NavLinkMatch.All">
                    گزارش سفارشات سال مالی گذشته
                </NavLink>
            </div>


            <!-- #endregion -->


        </nav>
    </div>
    @code {
        private bool isExpandedPermission = false;

        private void TogglePermissionMenu()
        {
            isExpandedPermission = !isExpandedPermission;
        }

        private bool isExpandedReport = false;

        private void ToggleReportMenu()
        {
            isExpandedReport = !isExpandedReport;
        }
    }
